*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1B1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 133px;
  width: 1140px;
  gap: 30px;
}

/* Блок с большим окном видео */

.result__video-container {
  position: relative;
  min-height: 386px;
  min-width: 711px;
  margin-bottom: 16px;
  cursor: pointer;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Форма поиска по городам */

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

/* Стилизация текстового поля */

.search-form__textfield {
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  appearance: none;
}

/* Стилизуем чек-боксы */

.search-form__pseudo-checkbox {
  padding: 1px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__pseudo-checkbox::after {
  display: block;
  content: '';
  background-color: #fff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__fieldset {
  border: none;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;

}
/* !!!!!!! Вернуться к этому моменту */

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

/* Стилизация общей кнопки */

.button {
  background-color: transparent;
  color: #fff;
  border: 1px solid currentColor;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.search-form__submit-button {
  height: 34px;
  width: 194px;
  align-self: flex-end;
}

.more-button {
  flex-shrink: 0;
  height: 34px;
}



/* Блок со скроллбаром */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 3px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  overflow: auto;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 196px;
  
  /* Посмотреть этот момент снова*/

}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color:#fff;
}

 /* Стилизация карточки в выбранном состоянии */

.content__card-link_current:active {
  background-color: #545050;
}

.content__card-link_current:focus {
  outline: none;
}

.content__card-link_current:focus-visible {
  outline: 1px solid #fff;;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


